@page "/Anime/{MyAnimeListId}"
@page "/Anime/{MyAnimeListId}/episodio/{NumeroEpisodio}"

@using Models;

@inject Generic Generics
@code {
    [Parameter] public string MyAnimeListId { get; set; }
    [Parameter] public string NumeroEpisodio { get; set; }

    Anime dettaglio;

    protected override async Task OnInitializedAsync()
    {
        if (String.IsNullOrEmpty(MyAnimeListId))
        {
            base.OnInitialized();
            return;
        }

        //call WebApi
        dettaglio = await Generics.GetSingleRequest<Anime>("anime/GetOne/" + MyAnimeListId);

        base.OnInitialized();
    }
}

@if (MyAnimeListId != null && dettaglio != null)
{
    <AnimeDetail Anime_Detail="dettaglio"></AnimeDetail>
}
else
{
    <h1>Nessun Anime trovato</h1>
}

