@inherits LayoutComponentBase
@using Models
@inject ThemeManager theme

<head>
    @if (theme.isDarkTheme)
    {
        <link href="css/DarkTheme.css" rel="stylesheet" />
    }
</head>

<div class="layout">

    <NavMenu></NavMenu>

    <div class="content px-4">
        @Body
    </div>
</div>
