.anime-card {
    width: 185px;
    outline: none;
}

    .anime-card .cover {
        position: relative;
        width: 100%;
        height: 265px;
        background-color: var(--hover-color);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .1), 0 0 0 3px var(--status-color) inset;
        user-select: none;
        transition: .3s;
    }

    .anime-card .title {
        display: block;
        margin-top: 12px;
        border-radius: 0 0 5px 5px;
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: .3s;
    }

        .anime-card:hover .title,
        .anime-card:active .title {
            color: var(--hover-color);
            transition: .3s;
        }

        .anime-card:hover .cover,
        .anime-card:active .cover {
            box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
            transition: .3s;
        }

        .anime-card .title:hover,
        .anime-card .title:active {
            cursor: pointer;
        }

    .anime-card .cover .overlay {
        visibility: collapse;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, .2);
        box-shadow: 0 -48px 24px -12px rgba(0, 0, 0, .3) inset;
        opacity: 0;
        transition: .3s;
    }

    .anime-card:hover .cover .overlay,
    .anime-card:active .cover .overlay {
        visibility: visible;
        opacity: 1;
        transition: .3s;
    }

    .anime-card .cover .overlay .user-status,
    .anime-card .cover .overlay .status,
    .anime-card .cover .overlay .score {
        position: absolute;
        top: 12px;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
    }

    .anime-card .cover .overlay .user-status {
        left: 12px;
        padding: 3px 6px;
        background-color: var(--status-color);
        border-radius: 5px;
    }

    .anime-card .cover .overlay .info {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        font-size: 29px;
        opacity: .9;
        transition: .3s;
    }

        .anime-card .cover .overlay .info:hover,
        .anime-card .cover .overlay .info:active {
            cursor: pointer;
            opacity: 1;
            transition: .3s;
        }

    .anime-card .cover .tooltip {
        display: none;
        position: absolute;
        top: 0;
        left: calc(100% + 12px);
        width: 200%;
        height: 100%;
        background-color: white;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
        z-index: 1;
    }

        .anime-card .cover .tooltip::before {
            position: absolute;
            top: 60px;
            left: -6px;
            width: 0;
            height: 0;
            content: '';
            border-width: 6px 6px 6px 0;
            border-style: solid;
            border-color: transparent white transparent transparent;
        }

        .anime-card .cover .tooltip.active {
            display: block;
            animation-name: showAnimeCardTooltip;
            animation-duration: .5s;
        }

        .anime-card .cover .tooltip.open-left {
            left: auto;
            right: calc(100% + 12px);
        }

            .anime-card .cover .tooltip.open-left::before {
                left: auto;
                right: -6px;
                border-width: 6px 0 6px 6px;
                border-color: transparent transparent transparent white;
            }

        .anime-card .cover .tooltip.active.open-left {
            animation-name: showAnimeCardTooltipLeft;
        }

@keyframes showAnimeCardTooltip {
    from {
        opacity: 0;
        left: 100%;
    }

    to {
        opacity: 1;
        left: calc(100% + 12px);
    }
}

@keyframes showAnimeCardTooltipLeft {
    from {
        opacity: 0;
        right: 100%;
    }

    to {
        opacity: 1;
        right: calc(100% + 12px);
    }
}

.anime-card .cover .tooltip .heading {
    height: 48px;
    background-image: var(--banner-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.anime-card .cover .tooltip .genres {
    display: flex;
    align-items: center;
    margin: 12px;
}

    .anime-card .cover .tooltip .genres .genre {
        padding: 3px 6px;
        background-color: var(--hover-color);
        border-radius: 5px;
        color: white;
        font-size: 14px;
    }

        .anime-card .cover .tooltip .genres .genre:not(:first-child) {
            margin-left: 12px;
        }

.anime-card .cover .tooltip .description {
    padding: 12px;
    max-height: calc(100% - 97px);
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    overflow-y: auto;
}

.anime-card .cover .overlay .status {
    top: unset;
    left: 12px;
    bottom: 12px;
    font-weight: 600;
}

.anime-card .cover .overlay .score {
    top: unset;
    right: 12px;
    bottom: 12px;
    font-weight: 600;
}

    .anime-card .cover .overlay .score .star {
        display: inline-block;
        margin-top: -4px;
        margin-right: 4px;
        color: var(--hover-color);
        font-size: 24px;
        vertical-align: middle;
    }

    .anime-card .cover .overlay .score span {
        vertical-align: bottom;
    }
