.checkbox {
    user-select: none;
}

.checkbox label {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
}

.checkbox .input {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .6);
    font-size: 14px;
    cursor: pointer;
}

.checkbox .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    width: 26px;
    height: 26px;
    background-color: white;
    border: 3px solid white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    border-radius: 16px;
    transition: 0.3s;
}

    .checkbox .circle.checked {
        background-color: #8d46b8 !important;
        transition: 0.3s;
    }

.checkbox .icon {
    font-size: 20px;
    color: white;
    transition: .3s;
}

.checkbox:hover .circle:not(.checked) .icon,
.checkbox:active .circle:not(.checked) .icon {
    color: #8d46b8 !important;
    transition: .3s;
}