<div class="checkbox @string.Join(' ', CssClass)" @onclick="ToggleChecked">
    <div class="input">
        <div class="circle @(Checked ? "checked" : string.Empty)">
            <i class="material-icons icon">check</i>
        </div>
        <span class="label">@Label</span>
    </div>
</div>