@if (DropDownOptions == null || DropDownOptions.Count == 0)
{
    @Placeholder
}
else
{
    <select multiple=@IsMultiple @onchange="@((key) => ElementChange(key))">
        @foreach (var option in DropDownOptions)
        {
            <option value="@option.Key">@option.Value</option>
        }
    </select>
}