<div class="overlay @(IsVisible ? "visible" : string.Empty)" id="loading-spinner">
    <div class="loader">
        <img src="/images/goku_spinner.gif" alt="Loading..." />
        <div class="shadow"></div>
    </div>
</div>