.tags-list {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tags-list::before {
    position: absolute;
    left: 0;
    content: 'sell';
    font-family: 'Material Icons';
    font-size: 20px;
    -webkit-font-feature-settings: 'liga';
}

.tags-list .tag {
    padding: 6px 12px;
    background-color: #ad6dd3;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

    .tags-list .tag:first-child {
        margin-left: 32px !important;
    }

    .tags-list .tag:not(:first-child) {
        margin-left: 12px;
    }
