<div class="textbox @(IsInline ? "col" : string.Empty)">
    <label>@Label</label>
    <div class="input">
        <i class="material-icons icon">@Icon</i>
        <input type="text" value="@Value" @oninput="OnKeyUp" />
        @if(HasValue)
        {
            <i class="material-icons reset" @onclick="OnReset">close</i>
        }
    </div>
</div>