@page "/Login"
@layout LoginLayout


@if (Mode == 'L')
{
    <div>
        <div>
            <h2>Log In</h2>
            <br />
            <h4>Become a member. <a href="" @onclick="SwitchMode" @onclick:preventDefault>Join</a></h4>
        </div>
        <br />
        <div>
            <div>
                <label>Username</label>
            </div>
            <div>
                <input type="text" placeholder="Insert username" @bind="User" />
            </div>
        </div>
        <br />
        <div>
            <div>
                <label>Password</label>
            </div>
            <div>
                <input type="password" placeholder="Insert password" @bind="Password" />
            </div>
        </div>
        <br />
        <div>
            <button @onclick="Log_In">Login</button>
        </div>
    </div>
}
else
{
<div>
    <div>
        <h2>Register</h2>
        <br />
        <h4>Already a member? <a href="" @onclick="SwitchMode" @onclick:preventDefault>Log In</a></h4>
    </div>
    <br />
    <div>
        <div>
            <label>Username</label>
        </div>
        <div>
            <input type="text" placeholder="username" @bind="User" />
        </div>
    </div>
    <br />
    <div>
        <div>
            <label>Password</label>
        </div>
        <div>
            <input type="password" placeholder="password" @bind="Password" />
            <br />
            <label style="color:red">@PwdMessage</label>
        </div>
    </div>
    <br />
    <div>
        <div>
            <label>Email</label>
        </div>
        <div>
            <input type="text" placeholder="Add your email" @bind="Email" />
        </div>
    </div>
    <br />
    <div>
        <div>
            <label>Confirm Email</label>
        </div>
        <div>
            <input type="text" placeholder="Confirm your email" @bind="ConfirmationEmail" />
        </div>
    </div>
    <br />
    <div>
        <button @onclick="Register">Register</button>
    </div>
</div>
}
