body {
    color: #666666 !important;
}

.text-major {
    color: #212121 !important;
}

.text-minor {
    color: #666666 !important;
}

/* BOOTSTRAP OVERRIDES */

* {
    --bs-primary: #8d46b8;
    --bs-primary-rgb: 141, 70, 184;
    --bs-success-rgb: 76, 175, 80;
}

.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.btn-primary:hover {
    background-color: #7c3ea3 !important;
    border-color: #653285 !important;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: #7c3ea3 !important;
    border-color: #653285 !important;
    box-shadow: 0 0 0 0.25rem rgba(173, 109, 211, .5) !important;
}

.btn-check:checked+.btn-primary, .btn-check:active+.btn-primary, .btn-primary:active, .btn-primary.active, .show>.btn-primary.dropdown-toggle {
     background-color: #653285 !important;
    border-color: #4f2768 !important;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: transparent !important;
}

.dropdown-item:hover > *, .dropdown-item:focus > *{
    color: var(--bs-primary) !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--bs-primary) !important;
}

.dropdown-item.active > *, .dropdown-item:active > * {
    color: white !important;
}

.form-control:focus {
    border-color: #653285 !important;
    box-shadow: 0 0 0 0.25rem rgba(173, 109, 211, .25) !important;
}

/* BOOTSTRAP OVERRIDES */

/* LAYOUT */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    border-right: 1px solid rgba(0, 0, 0, .0625);
    z-index: 1051;
    transition: .3s;
}

    .sidebar .head {
        height: 65px;
        border-bottom: 1px solid rgba(0, 0, 0, .0625);
    }

    .sidebar .logo {
        height: 40px;
        width: 40px;
    }

    .sidebar .brand {
        margin: 0 !important;
        margin-left: 12px !important;
    }

    .sidebar .nav {
        margin-top: 30px;
    }

    .sidebar .nav-pills .nav-link {
        border-radius: 0 !important;
        color: #666 !important;
        font-weight: 500 !important;
    }

    .sidebar .nav-pills .nav-link:hover,
    .sidebar .nav-pills .nav-link:active {
        color: #212121 !important;
    }

    .sidebar .nav-pills .nav-link span,
    .sidebar .nav-pills .nav-link .submenu-icon {
        opacity: 0;
        animation: smoothSidebarAnim .1s linear .2s 1 normal forwards;
    }

    @keyframes smoothSidebarAnim {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

        .sidebar .nav-pills .nav-link i:not(.submenu-icon) {
            color: var(--bs-primary) !important;
        }

        .sidebar .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background: none !important;
            color: var(--bs-primary) !important;
        }

    .sidebar li .submenu {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

        .sidebar li .submenu a:not(.active) {
            color: #999999 !important;
        }

        .sidebar li .submenu a:hover,
        .sidebar li .submenu a:active {
            color: #212121 !important;
        }

.navbar {
    padding: .5rem 1rem !important;
    min-height: 65px;
    height: 65px;
    max-height: 65px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .0625);
}

    .navbar .hamburger {
        font-size: 24px;
        color: #666666;
    }

        .navbar .hamburger:hover,
        .navbar .hamburger:active {
            cursor: pointer;
            color: #212121;
        }

    .navbar .avatar {
        margin-right: 8px;
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

.content {
    position: fixed;
    top: 0;
    left: 280px;
    width: calc(100% - 280px);
    height: 100%;
    z-index: 1051;
}

.main {
    background-color: #f9fafb !important;
    overflow-y: auto;
}

.collapsed .content {
    left: 70px;
    width: calc(100% - 70px);
}

.collapsed .sidebar:not(:hover) {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    z-index: 1052;
    transition: .3s;
}

    .collapsed:not(.mobile) .sidebar:not(:hover) .head {
        border: 0 !important;
    }

    .collapsed:not(.mobile) .sidebar:not(:hover) .brand {
        display: none;
    }

    .collapsed:not(.mobile) .sidebar:not(:hover) .nav-link {
        text-align: center;
    }

        .collapsed:not(.mobile) .sidebar:not(:hover) .nav-link i:not(.submenu-icon) {
            margin: 0 !important;
        }

        .collapsed:not(.mobile) .sidebar:not(:hover) .nav-link span {
            display: none;
        }

        .collapsed:not(.mobile) .sidebar:not(:hover) .nav-link .submenu-icon {
            display: none;
        }

    .collapsed:not(.mobile) .sidebar:not(:hover) li .submenu {
        display: none;
    }

.collapsed:not(.mobile) .sidebar:hover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1052;
    transition: .3s;
}

.mobile .content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1051;
}

.mobile.collapsed .content {
    left: 280px;
    transition: .3s;
}

.mobile:not(.collapsed) .sidebar {
    left: -70px;
}

.mobile.collapsed .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    z-index: 1052;
    transition: .3s;
}

#user-menu {
    right: -1.2rem !important;
    top: calc(100% + .5rem);
}

    #user-menu .dropdown-item {
        font-size: 14px !important;
    }

        #user-menu .dropdown-item i {
            margin-right: 8px;
        }

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes hidePageLoader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#page-loader.ended {
    opacity: 0;
    animation: hidePageLoader .3s;
}

.box {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.0625);
}

.my-badge {
    padding: 2px 15px;
    border-radius: 10em;
    font-weight: 500;
}

.modal {
    position: fixed;
    top: 65px;
    left: 280px;
    width: calc(100% - 280px);
    height: calc(100% - 65px);
    background-color: rgba(0, 0, 0, .5);
    transition: .3s;
}

.modal-fullscreen {
    width: 100% !important;
    max-width: 100% !important;
}

.collapsed .modal {
    left: 70px;
    width: calc(100% - 70px);
    transition: .3s;
}

.mobile .modal {
    left: 0;
    width: 100%;
    transition: 0s;
}

.mobile.collapsed .modal {
    left: 280px;
    transition: .3s;
}

/* LAYOUT */

.lazy {
    background-image: none !important;
    opacity: 0;
}