@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<style>
    /*zona di Dalzo!*/
</style>


<select class="@Class" @onchange="ChangeGlobalization">
    <option value="it">IT</option>
    <option value="en">EN-US</option>
</select>


@code {
    [Parameter] public string Class { get; set; }


    private void ChangeGlobalization(ChangeEventArgs e)
    {
        // butto dentro roba
        localStorage.SetItem<string>("globalization", e.Value.ToString());
    }
}
