@inject SpinnerService spinnerService;


<style>
    .loader {
        position : absolute;
        left : 50%;
        top : 50%;
    }
</style>

@if (IsVisible)
{
    <div class="loader">
        <img src="/images/GokuSpinner.gif"/>
    </div>
}

@code
{
    private bool IsVisible { get; set; } = false;


    protected override void OnInitialized()
    {
        base.OnInitialized();

        spinnerService.ShowSpinner += ShowSpinner;
        spinnerService.HideSpinner += HideSpinner;
    }

    private void ShowSpinner()
    {
        IsVisible = true;
        StateHasChanged();
    }

    private void HideSpinner()
    {
        IsVisible = false;
        StateHasChanged();
    }


}
