@inherits LayoutComponentBase
@using Commons
@inject UIConfiguration theme

<head>
    @if (theme.UseDarkTheme)
    {
        <link href="css/default.darktheme.css" rel="stylesheet" />
    }
</head>

<GokuSpinner/>

<div class="layout">

    <NavMenu></NavMenu>

    @Body
</div>
