@inherits LayoutBaseComponent

<head>
    @if (theme.UseDarkTheme)
    {
        <link href="css/default.darktheme.css" rel="stylesheet" />
    }
</head>
<LoadingSpinner />
<NavMenu />
<div class="page">
    @Body
</div>
