@inherits LayoutComponentBase
    
<head>
    @if (Theme.UseDarkTheme)
    {
        <link href="css/default.darktheme.css" rel="stylesheet" />
    }
</head>

<LoadingSpinner />

<NavMenu LocalizationChanged="RefreshPagina" />

<div class="page">
    @Body
</div>
