<div class="navbar">
    <div class="logo">
        <a href="/">
            <img src="images/aniapi_icon.png">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="menu-item">
            <a href="#">
                <i class="material-icons menu-icon">account_circle</i>
            </a>
        </div>
        <div class="menu-item active">
            <a href="#">
                <i class="material-icons menu-icon">dashboard</i>
            </a>
        </div>
        <div class="menu-item">
            <a href="#">
                <i class="material-icons menu-icon">exit_to_app</i>
            </a>
        </div>
        <div class="menu-item">
            <DropDown/>
        </div>
    </div>
    <div class="navbar-bug">
        <a href="#">
            <i class="material-icons bug">bug_report</i>
        </a>
    </div>
</div>
