body {
    background-color: #0b1622 !important;
    color: rgba(255, 255, 255, .6) !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3) !important;
}

/* FORM */

.textbox .input,
.combobox .input,
.selectbox .input {
    background-color: #151f2e !important;
    color: rgba(255, 255, 255, .6) !important;
    border: 1px solid rgba(255, 255, 255, .1) !important;
}

.textbox input,
.combobox input,
.selectbox input {
    color: rgba(255, 255, 255, .6) !important;
}

.dropdown {
    background-color: #151f2e !important;
    border: 1px solid rgba(255, 255, 255, .1) !important;
}

    .dropdown .item:hover,
    .dropdown .item:active {
        background-color: rgba(11, 22, 34, .6) !important;
    }

.checkbox .input {
    color: rgba(255, 255, 255, .6) !important;
}

.checkbox .circle {
    background-color: #151f2e !important;
    border-color: #151f2e !important;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .1) !important;
}

.checkbox .icon {
    color: #151f2e !important;
}

/* FORM */