body, html {
    height: 100%;
    max-height: 100%;
}

body {
    margin: 0;
    background-color: #F4F8F9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, .6);
}

body img {
    display: block;
}

body .material-icons {
    display: block;
}

/* NAVBAR */

.layout {
    height: 100%;
    max-height: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    max-height: 100%;
    padding: 12px;
    background-color: rgb(54, 28, 71);
    box-shadow: 1px 0 3px rgba(0, 0, 0, .45);
    z-index: 9;
    box-sizing: border-box;
}

.navbar a {
    text-decoration: none;
}

.navbar .logo img {
    height: 32px;
}

.navbar .navbar-menu {
    margin: 48px 0;
    flex: 1;
}

.navbar .navbar-menu .menu-item {
    opacity: .75;
    transition: .3s;
}

.navbar .navbar-menu .menu-item:hover,
.navbar .navbar-menu .menu-item:active,
.navbar .navbar-menu .menu-item.active {
    opacity: 1;
    transition: .3s;
}

.navbar .navbar-menu .menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.navbar .navbar-menu .menu-item a,
.navbar .navbar-bug a {
    text-align: center;
}

.navbar .navbar-menu .menu-item .menu-icon {
    font-size: 32px;
    color: white;
}

.navbar .navbar-menu .menu-item.active .menu-icon {
    color: #ad6dd3 !important;
}

.navbar .navbar-bug .bug {
    font-size: 32px;
    color: white;
    transition: .3s;
}

.navbar .navbar-bug .bug:hover,
.navbar .navbar-bug .bug:active {
    color: #ad6dd3 !important;
    transition: .3s;
}

/* NAVBAR */

/* CONTAINER */

.content {
    position: relative;
    margin: 0;
    flex: 1;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
}

.section {
    position: relative;
    margin-left: 61px;
    padding: 24px 0;
}

.section.no-p {
    padding: 0 !important;
}

/* CONTAINER */

/* DETTAGLIO */

/* HEADING */

.banner {
    position: relative;
    width: 100%;
    height: 320px;
    /*background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/banner/104578-z7SadpYEuAsy.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 -36px 92px rgba(0, 0, 0, .75) inset;
    z-index: 1;
}

.banner::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, .3);
}

.heading {
    position: relative;
    display: flex;
    margin-top: -90px;
    padding-bottom: 24px;
    width: 100%;
    z-index: 2;
}

.heading .cover {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    height: 320px;
    /*background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx104578-LaZYFkmhinfB.jpg);*/
    background-color: #fea150;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.heading .head {
    margin-top: 114px;
    margin-left: 24px;
}

.heading .title {
    flex: 1;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(0, 0, 0, .87);
}

.heading .desc {
    margin: 12px 0 0 0;
    max-height: 120px;
    overflow-y: hidden;
    font-size: 14px;
    transition: .3s;
}

.heading .desc::after {
    position: absolute;
    bottom: 24px; 
    right: 0;
    content: 'Hover to read more';
    color: #8d46b8;
    font-weight: 500;
    opacity: 1;
    transition-delay: .5s;
}

.heading .desc:hover,
.heading .desc:active {
    max-height: 100%;
    transition: .3s;
}

.heading .desc:hover::after,
.heading .desc:active::after {
    opacity: 0;
    transition-delay: 0s;
}

/* HEADING */

/* MAIN */

.main {
    background-color: #edf1f5;
}

/* SIBLINGS */

.siblings {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    box-sizing: border-box;
}

.sibling {
    padding: 12px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(1);
    border-radius: 5px;
}

.sibling::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    z-index: 1;
}

.sibling:hover,
.sibling:active {
    filter: grayscale(0);
    cursor: pointer;
}

.sibling:hover::after,
.sibling:active::after {
    background-color: #8d46b8;
    opacity: .6;
    transition: .3s;
}

.sibling.prequel {
    /*background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/banner/99147-HACsFVrynFf5.jpg);*/
    background-color: #f1bb00;
}

.sibling.sequel {
    margin-left: 24px;
    /*background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/banner/110277-iuGn6F5bK1U1.jpg);*/
    background-color: #4386e4;
}

.sibling span,
.sibling .title {
    position: relative;
    color: white;
    z-index: 2;
}

.sibling span {
    font-size: 14px;
    font-weight: 300;
}

.sibling .title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

/* SIBLINGS */

/* DOCK */

.dock {
    background-color: #edf1f5;
}

.dock .container {
    display: flex;
}

/* INFO */

.dock .info {
    margin-right: 24px;
    background-color: white;
    border-radius: 5px;
}

.dock .info .row {
    padding: 0 12px 12px 12px;
    font-size: 13px;
}

.dock .info .row:first-child {
    padding: 12px;
}

.dock .info .row span {
    display: block;
    margin-bottom: 6px;
    color: rgba(0, 0, 0, .87);
    font-weight: 500;
    font-size: 14px;
}

/* INFO */

.dock .media {
    flex: 1;
}

/* VIDEO */

.dock .media .video {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 400px;
    border-radius: 5px;
    color: white;
}

.dock .media .video iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* VIDEO */

/* EPISODES */

.dock .media .episodes {
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap;
    justify-content: start;
}

.dock .media .episodes .episode {
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    transition: .3s;
    width: 60px;
    height: 24px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dock .media .episodes a {
    text-decoration: none;
    color: unset;
}

.dock .media .episodes .episode {
    margin: 3px;
}

.dock .media .episodes .episode:hover,
.dock .media .episodes .episode:active {
    background-color: #8d46b8;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.dock .media .episodes .episode.active {
    background-color: #8d46b8;
    color: white;
}

/* EPISODES */

/* DOCK */

/* MAIN */

/* DETTAGLIO */