/* HEADING */

.head {
    background-color: #F4F8F9;
}

.banner {
    position: relative;
    width: 100%;
    height: 320px;
    background-image: var(--banner-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 -36px 92px rgba(0, 0, 0, .75) inset;
    z-index: 1;
}

    .banner::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(0, 0, 0, .3);
    }

.head .heading {
    position: relative;
    display: flex;
    margin-top: -90px;
    padding-bottom: 24px;
    width: 100%;
    z-index: 2;
}

.heading .cover {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    height: 320px;
    background-image: var(--cover-image);
    background-color: var(--cover-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.heading .head {
    margin-top: 114px;
    margin-left: 24px;
}

.heading .title {
    flex: 1;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(0, 0, 0, .87);
}

.heading .desc {
    margin: 12px 0 0 0;
    max-height: 120px;
    overflow-y: hidden;
    font-size: 14px;
    transition: .3s;
}

    .heading .desc::after {
        position: absolute;
        bottom: 24px;
        right: 0;
        content: 'Hover to read more';
        color: #8d46b8;
        font-weight: 500;
        opacity: 1;
        transition-delay: .5s;
    }

    .heading .desc:hover,
    .heading .desc:active {
        max-height: 100%;
        transition: .3s;
    }

        .heading .desc:hover::after,
        .heading .desc:active::after {
            opacity: 0;
            transition-delay: 0s;
        }

/* HEADING */

/* MAIN */

.main {
    background-color: #edf1f5;
}

/* SIBLINGS */

.siblings {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    box-sizing: border-box;
}

.sibling {
    padding: 12px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(1);
    border-radius: 5px;
}

.sibling.hidden {
    visibility: hidden;
}

    .sibling::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(0, 0, 0, .5);
        border-radius: 5px;
        z-index: 1;
    }

    .sibling:hover,
    .sibling:active {
        filter: grayscale(0);
        cursor: pointer;
    }

        .sibling:hover::after,
        .sibling:active::after {
            background-color: #8d46b8;
            opacity: .6;
            transition: .3s;
        }

    .sibling.prequel {
        background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/banner/20-HHxhPj5JD13a.jpg);
        background-color: #f1bb00;
    }

    .sibling.sequel {
        margin-left: 24px;
        background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/banner/97938-lKCFtaxOLctp.png);
        background-color: #4386e4;
    }

    .sibling span,
    .sibling .title {
        position: relative;
        color: white;
        z-index: 2;
    }

    .sibling span {
        font-size: 14px;
        font-weight: 300;
    }

    .sibling .title {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

/* SIBLINGS */

/* DOCK */

.dock {
    background-color: #edf1f5;
}

    .dock .container {
        display: flex;
    }

/* SIDE */

.side {
    margin-right: 24px;
    max-width: 240px !important;
}

/* ANILIST */

.anilist,
.myanimelist {
    margin-bottom: 24px;
    padding: 4px 12px 12px 12px;
    background-color: #19212d;
    border-radius: 5px;
}

    .anilist .logo,
    .myanimelist .logo {
        margin: 0 auto;
        width: 48px;
        height: 48px;
        border-radius: 24px;
    }

    .anilist .form label,
    .myanimelist .form label {
        color: rgba(255, 255, 255, .87);
    }

/* ANILIST */

/* MYANIMELIST */

.myanimelist {
    padding: 0 12px 12px 12px;
    background-color: #2e51a2;
}

/* MYANIMELIST */

/* INFO */

.dock .side > .info {
    background-color: white;
    border-radius: 5px;
}

.dock .info .row {
    padding: 0 12px 12px 12px;
    font-size: 13px;
}

    .dock .info .row:first-child {
        padding: 12px;
    }

    .dock .info .row span {
        display: block;
        margin-bottom: 6px;
        color: rgba(0, 0, 0, .87);
        font-weight: 500;
        font-size: 14px;
    }

    .dock .info .row a {
        color: inherit;
        text-decoration: none;
        transition: .3s;
    }

    .dock .info .row a:hover,
    .dock .info .row a:active {
        color: #8d46b8;
        transition: .3s;
    }

/* INFO */

/* SONGS */

.dock .songs {
    margin-top: 24px;
}

    .dock .songs .song {
        position: relative;
        padding: 12px;
        background-image: url(https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-icon-marilyn-scott-0.png);
        background-position: -88px;
        background-repeat: no-repeat;
        background-size: 196px;
        background-color: #212121;
        border-radius: 5px;
        color: white;
        user-select: none;
    }

        .dock .songs .song:nth-child(2) {
            margin-top: 12px;
        }

        .dock .songs .song::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-color: rgba(0, 0, 0, .75);
            border-radius: 5px;
            z-index: 1;
            transition: .3s;
        }

        .dock .songs .song:hover::after,
        .dock .songs .song:active::after {
            background-color: rgba(0, 0, 0, .6);
            transition: .3s;
        }

        .dock .songs .song span {
            color: inherit;
            font-weight: 300;
        }

        .dock .songs .song span,
        .dock .songs .song .title,
        .dock .songs .song .artist,
        .dock .songs .song .season {
            position: relative;
            margin: 0;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            z-index: 2;
        }

        .dock .songs .song span {
            color: #b3b3b3;
        }

        .dock .songs .song .title {
            display: block;
            margin-top: 12px;
            max-width: 128px;
            color: white;
            font-weight: 600;
            text-decoration: none;
        }

        .dock .songs .song .artist {
            font-weight: 300;
        }

        .dock .songs .song .season {
            margin-top: 6px;
            font-weight: 300;
        }

        .dock .songs .song .audio {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 12px;
            z-index: 2;
        }

            .dock .songs .song .audio .play {
                padding: 2px;
                background-color: #1db954;
                border-radius: 50%;
                transition: .3s;
            }

                .dock .songs .song .audio .play:hover,
                .dock .songs .song .audio .play:active {
                    cursor: pointer;
                    background-color: #1aa34a;
                    transition: .3s;
                }

                .dock .songs .song .audio .play .material-icons {
                    font-size: 18px;
                    color: white;
                }

            .dock .songs .song .audio .progress {
                flex: 1;
                margin: 0 6px;
                height: 10px;
            }

                .dock .songs .song .audio .progress .bar {
                    background-color: #1db954;
                    width: 0;
                    height: 100%;
                    border-radius: 5px;
                    transition: .5s;
                }

            .dock .songs .song .audio .time {
                opacity: 0;
                font-size: 12px;
                transition: .3s;
            }

            .dock .songs .song .audio.playing .time {
                opacity: 1;
                transition: .3s;
            }

/* SONGS */

/* SIDE */

/* CENTRAL */

.dock .central {
    flex: 1;
}

/* VIDEO */

.dock .media .video {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 400px;
    border-radius: 5px;
    color: white;
}

    .dock .media .video iframe {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

/* VIDEO */

/* EPISODES */

.dock .media .episodes-pages,
.dock .media .episodes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48px);
    grid-template-rows: repeat(auto-fill, 32px);
    grid-gap: 8px;
    justify-content: space-evenly;
    margin-top: 32px;
}

.dock .media .episodes-pages {
    margin-top: 24px;
    grid-template-columns: repeat(auto-fill, 86px);
}

    .dock .media .episodes-pages .episode-page,
    .dock .media .episodes .episode {
        padding: 6px 0;
        background-color: white;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        transition: .3s;
    }

        .dock .media .episodes-pages .episode-page:hover,
        .dock .media .episodes-pages .episode-page:active,
        .dock .media .episodes .episode:hover,
        .dock .media .episodes .episode:active {
            color: #8d46b8;
            cursor: pointer;
            transition: .3s;
        }

        .dock .media .episodes-pages .episode-page.active,
        .dock .media .episodes .episode.active {
            background-color: #8d46b8 !important;
            color: white;
        }

        /*.dock .media .episodes .episode.completed:not(.active) {
    background-color: #ad6dd3 !important;
    color: white;
}*/

        .dock .media .episodes .episode.completed {
            position: relative;
        }

            .dock .media .episodes .episode.completed::after {
                position: absolute;
                top: 3px;
                right: 3px;
                content: 'check';
                font-family: 'Material Icons';
                color: #ad6dd3;
                font-size: 8px;
                -webkit-font-feature-settings: 'liga';
            }

            .dock .media .episodes .episode.completed.active::after {
                color: white;
            }

/* EPISODES */

/* SUGGESTIONS */

.dock .suggestions {
    margin-top: 24px;
}

    .dock .suggestions > .title {
        padding: 12px;
        background-color: white;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
    }

    .dock .suggestions .anime-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 185px);
        grid-gap: 28px 24px;
        justify-content: space-between;
        margin-top: 24px;
    }

/* SUGGESTIONS */

/* CENTRAL */

/* DOCK */

/* MAIN */